body {
  margin: 0;
  padding: 0;
  color: #0C1B34;
  font-family: 'Work Sans', serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
h1 {
  font-size: 17px;
  line-height: 25px;
}
h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #2dc4b2;
}
.subtitle{
  font-size:16px;
  margin-top: 30px;
}
#console {
  position: absolute;
  width: 300px;
  margin: 10px;
  padding: 10px 20px 10px 30px;
  background-color: #F0F0F1;
  border-radius: 5px;
  z-index: 15;
  transition: 0.3s ease-in-out;
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
}
.active{
  transform:translate3d(-280px,0,0);
  transition: 0.3s ease-in-out;
}

.itemWrapper{
  margin-top: -20px;
}

.itemWrapper2{
  top: 5px;
  left:5px;
  position:absolute;
}

#toggleConsole{
  position:absolute;
  right:5px;
  top:0px;
}
#toggleConsole img{
  width:16px;
  opacity: 0.7;
}
#toggleConsole img:hover{
  opacity: 0.5;
  transition: all .5s ease;
  cursor:pointer;
}
.toggle, .toggle2,.toggle3,.toggle4,.toggle5,.toggle6,.toggle7,.toggle8,.toggle9,.toggle10,
.toggle11, .toggle12,.toggle13,.toggle14,.toggle15,.toggle16 {
  position: relative;
  height: 14px;
  width: 35px;
  border-radius: 15px;
  background: #cfcfcf;
  margin: 8px 0;
}
.toggle input, .toggle2 input,.toggle3 input,.toggle4 input,.toggle5 input,
.toggle6 input,.toggle7 input, .toggle8 input,.toggle9 input,.toggle10 input,
.toggle11 input, .toggle12 input,.toggle13 input,.toggle14 input,.toggle15 input,
.toggle16 input  {
  opacity: 0;
  width: 100%;
  height: 200%;
  position: absolute;
  top: -7px;
  left: 0;
  z-index: 2;
  margin: 0
}
.toggle input:nth-child(2):checked,
.toggle2 input:nth-child(2):checked,
.toggle3 input:nth-child(2):checked,
.toggle4 input:nth-child(2):checked,
.toggle5 input:nth-child(2):checked,
.toggle6 input:nth-child(2):checked,
.toggle7 input:nth-child(2):checked,
.toggle8 input:nth-child(2):checked,
.toggle9 input:nth-child(2):checked,
.toggle10 input:nth-child(2):checked,
.toggle11 input:nth-child(2):checked,
.toggle12 input:nth-child(2):checked,
.toggle13 input:nth-child(2):checked,
.toggle14 input:nth-child(2):checked,
.toggle15 input:nth-child(2):checked,
.toggle16 input:nth-child(2):checked {
  z-index: 1;
}
.toggle__pointer {
  position: absolute;
  top: -3.5px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: #DF4C3B;
  -webkit-transition: left .15s ease-out;
  transition: left .15s ease-out;
}
.toggle input:nth-child(2):checked + .toggle__pointer,
.toggle2 input:nth-child(2):checked + .toggle__pointer,
.toggle3 input:nth-child(2):checked + .toggle__pointer,
.toggle4 input:nth-child(2):checked + .toggle__pointer,
.toggle5 input:nth-child(2):checked + .toggle__pointer,
.toggle6 input:nth-child(2):checked + .toggle__pointer,
.toggle7 input:nth-child(2):checked + .toggle__pointer,
.toggle8 input:nth-child(2):checked + .toggle__pointer,
.toggle9 input:nth-child(2):checked + .toggle__pointer,
.toggle10 input:nth-child(2):checked + .toggle__pointer,
.toggle11 input:nth-child(2):checked + .toggle__pointer,
.toggle12 input:nth-child(2):checked + .toggle__pointer,
.toggle13 input:nth-child(2):checked + .toggle__pointer,
.toggle14 input:nth-child(2):checked + .toggle__pointer {
  left: 18px;
  background-color: #777777;
}
.toggle15 input:nth-child(2):checked + .toggle__pointer {
  left: 18px;
  background-color: #88bbd6;
}
.toggle__pointer.color1{
  background-color: #80BA5A;
}

.toggle__pointer.color2{
  background-color: #008695;
}

.toggle__pointer.color3{
  background-color: #3969AC;
}
.toggle__pointer.color4{
  background-color: #F2B701;
}
.toggle__pointer.color5{
  background-color: #CF1C90;
}
.toggle__pointer.color6{
  background-color: #A5AA99;
}
.toggle__pointer.color7{
  background-color: #f97b72;
}

.toggle__pointer.color8{
  background-color: #88bbd6;
}
.toggle__pointer.colorStatus{
  background-color: #D86449;
}


  .circlesWrapper {
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 15px;
    margin: 20px 0 10px 0;
  }
.circlesRegion {
  position: absolute;
  top: 0px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 15px;
}

.circlesRegion.color1 {
  background-color: #80BA5A;
}
.circlesRegion.color2 {
  background-color: #008695;
}
.circlesRegion.color3 {
  background-color: #3969AC;
}
.circlesRegion.color4 {
  background-color: #F2B701;
}
.circlesRegion.color5 {
  background-color: #CF1C90;
}
.circlesRegion.color6 {
  background-color: #A5AA99;
}
.circlesRegion.color7 {
  background-color: #f97b72;
}
.circlesRegion.color8 {
  background-color: #88bbd6;
}

.circlesLegend{
  vertical-align: middle;
  margin-left:-5px;
  margin-top:-5px;
}

.flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: 1;
}
#console h1,
#console h2 {
  text-align: left;
}
.verticalLine {
  margin-right: 5px;
  border-right: 0.3px solid #ECE8E1;
}

#title {
  font-family: 'Enriqueta', serif;
  color: #0c1b34;
  font-weight: 700;
  margin-left: -15px;
  margin-top: 10px;
  margin-bottom: 5px;
}
#title a{
  color:#0c1b34;
}
#title a:hover{
  color: black;
  transition: all 1s ease;
  text-decoration: underline !important;
}
.mapboxgl-popup {
  min-width: 280px !important;
  font-family: 'Work Sans', sans-serif;
  text-align: left;
  z-index: 20;
}
.mapboxgl-popup-content {
  font-family: 'Work Sans', sans-serif;
  padding: 0;
}

.mapboxgl-popup-content h3 {
  text-align: left;
  font-size:16px;
  margin: 0;
  display: block;
  padding: 15px;
  font-weight: 700;
  margin-top: -5px;
}

.mapboxgl-popup-content h4 {
  padding: 8px;
  font-size:14px;
  line-height: 20px;
}

.mapboxgl-popup.color1 h3{
  background: #80BA5A !important;
  color: #fff;
}

.mapboxgl-popup.color2 h3{
  background: #008695 !important;
  color: #fff;
}

.mapboxgl-popup.color3 h3{
  background: #3969AC !important;
  color: #fff;
}

.mapboxgl-popup.color4 h3{
  background: #F2B701 !important;
  color: #fff;
}

.mapboxgl-popup.color5 h3{
  background: #CF1C90 !important;
  color: #fff;
}

.mapboxgl-popup.color6 h3{
  background: #A5AA99 !important;
  color: #fff;
}

.mapboxgl-popup.color7 h3{
  background: #f97b72 !important;
  color: #fff;
}

.mapboxgl-popup.color8 h3{
  background: #88bbd6 !important;
  color: #fff;
}

.mapboxgl-container {
  cursor: pointer;
}
.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
  margin-top: 3px;
}
.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: rgb(61, 59, 59);
}
.mapboxgl-popup-close-button{
  transform:scale(2);
  color:#fff;
  padding:0px;
  margin-right: 10px;
}
.mapboxgl-popup-close-button:hover,.mapboxgl-popup-close-button:active,.mapboxgl-popup-close-button:target{
  background:none !important;
  border: none !important;
  outline: none!important;
  color:#cfcfcf;
  transition: all 0.5s ease;
}

.button {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: none;
  max-width: 200px;
  text-align: center;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  padding: 10px;
  width:100px;
}

.button.color1 a{
  color: #80BA5A;
}

.button.color1{
  border:2px solid #80BA5A;
}

.button.color2 a{
  color: #008695;
}

.button.color2{
  border:2px solid #008695;
}

.button.color3 a{
  color: #3969AC;
}

.button.color3{
  border:2px solid #3969AC;
}

.button.color4 a{
  color: #F2B701;
}

.button.color4{
  border:2px solid #F2B701;
}

.button.color5 a{
  color: #CF1C90;
}

.button.color5{
  border:2px solid #CF1C90;
}

.button.color6 a{
  color: #A5AA99;
}

.button.color6{
  border:2px solid #A5AA99;
}
.button.color7 a{
  color: #f97b72;
}

.button.color7{
  border:2px solid #f97b72;
}

.button.color8 a{
  color: #88bbd6;
}

.button.color8{
  border:2px solid #88bbd6;
}

.button:hover {
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
a:hover{
  text-decoration: none !important;
}

.filters{
  margin-top: 20px;
}
.legend.label{
  display:inline;
}
.legend img{
  width:10px;
  height:10px;
  display:inline;
}
.label{
  color:black;
  font-size:12px;
  font-weight:400;
}
.instruction{
  margin-left: -15px;
  margin-top:20px;
}
.instruction p{
  color:#007979;
  font-weight: 700;
  font-size:16px;
}

.item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.item2{
  display: inline-block;
  margin-left: 2px;
  font-size: 12px;
}
.item3{
  display: inline-block;
  margin-left: 14px;
  font-size: 12px;
  width:20px;
  height:20px;
  margin-top:20px;
}
.item4{
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}
.popupTitle{
  font-family: 'Enriqueta', serif;
}
.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
/* border-bottom-color: rgb(61, 59, 59); */
}
#loading {
top: 0;
left: 0;
position: fixed;
display: block;
opacity: .9;
background-color: #fff;
z-index: 99;
}
#loading-image {
position: relative;
margin-left: auto;
margin-right: auto;
margin-top: calc(50vh - 80px);
z-index: 100;
}
#loading{
width: 100%;
text-align: center;
height: 100%;
}

#reset, #reset2,#reset3{
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  fill: #767676;
}

#reset:hover, #reset2:hover,#reset3:hover{
  fill: #cfcfcf;
  transition: all 0.5s ease;
  cursor: pointer;
}

#reset3{
  margin-top:0px;
  margin-bottom:0px;
}

#minCircle,#minCircle2{
  width: 10px;
  height: 10px;
}

#maxCircle,#maxCircle2{
  width: 46px;
  height: 46px;
}

#legendInstruction p:hover{
  cursor:pointer;
  opacity: 0.7;
  transition: all .4s ease;
}
#logo{
  position: absolute;
  bottom:22px;
  right:0px;
  z-index:5;
}
#logo img{
  width:120px;
}

#yearSelection{
  margin-left: 0px;
  margin-top: -30px;
}

.yearToggle{
  top:10px;
}
.yearToggle2{
  margin-top:10px;
}

#circleSizes{
  margin-left: 0px;
  margin-top: 20px;
}

#traded{
  margin-left: 0px;
  margin-top: -20px;
}

.tab-slider--nav {
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  background: #fff;
  height: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tab-slider--tabs:after {
  content: "";
  width: 50%;
  background: #88bbd6;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-radius: 35px;
}
.tab-slider--tabs.slide:after {
  left: 50%;
}

.tab-slider--trigger {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #88bbd6;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tab-slider--trigger.activeTab {
  color: #fff !important;
}

.tab-slider--body {
  margin-bottom: 20px;
}

input[type="range"] {
  -webkit-appearance: none !important;
  width: 95%;
  height: 15px;
  background-color: #cfcfcf;
  border-radius: 10px;
  margin-left:0px;
  transition: all 0.3s ease;
}

input[type="range"]:active,input[type="range"]:focus,input[type="range"]:target{
  border: none !important;
  outline: none!important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: #88bbd6;
  border-radius: 30px;
  transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #88bbd6;
  transition: all 0.5s ease;
  cursor: pointer;
}

#sliderbar{
  margin-top: 10px;
}

#start{
   position: relative;
   display:inline;
   margin-top: 10px;
   margin-left: 0px;
   font-size: 14px;
   }
 #end{
   position: relative;
   display:inline;
   margin-top: 10px;
   margin-left: 160px;
   font-size: 14px;
 }


 #chart {
   position: absolute;
   /* width: 800px;
   height:250px; */
   bottom: 10px;
   left:10px;
   background-color: #F0F0F1;
   border-radius: 5px;
   z-index: 15;
   transition: 0.3s ease-in-out;
   box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
 }

 .spp rect{
   transition: all 0.5s ease;
 }

 #play img,#stop img{
    width:20px;
    height:20px;
    margin-bottom: 20px;
  }
  #stop img{
    margin-left: 10px;
  }
  #play img:hover,#stop img:hover{
    cursor:pointer;
    opacity: 0.6;
    transition: all 0.5s ease;
  }

  #playpause{
    margin-top:10px;
  }

  #yearDisplay{
    margin-top: -5px;
    margin-left:10px;
    font-size: 16px;
  }

  #clickInstruction{
    margin-left: 15px;
    font-weight: bold;
  }


@media screen and (max-width: 800px) {

  .tab-slider--trigger {
    font-size: 10px;
  }
  #console {
    width: 250px;
  }
  .active{
    transform:translate3d(-230px,0,0);
  }
  .label{
    font-size:10px;
    margin-left:-5px;
  }
  .item2{
    font-size:10px;
    margin-left:2px;
  }
  h1{
    font-size:15px;
  }
  h2{
    font-size:11.5px;
  }
  .subtitle{
    font-size:13px;
  }
  #console{
    padding: 10px 20px;
  }
  #title{
    margin-top:-10px;
  }
  .mapboxgl-popup {
    max-width: 250px !important;
    min-width: 220px !important;
  }
  #legendCol1{
    margin-left: -10px !important;
  }
  #legendCol2{
    margin-left: -20px !important;
  }

  #start, #start2 {
     margin-left: 0px;
     font-size: 11px;
     }
   #end, #end2 {
     margin-left: 110px;
     font-size: 12px;
   }
}
@media screen and (max-width: 600px) {

  .tab-slider--trigger {
    font-size: 10px;
  }
  body{
  font-size:11px !important;
  }
  #title{
    font-size:13px;
  }
  .subtitle{
    font-size:12px;
  }
  .active{
  transform:translate3d(-230px,0,0);
  }
  .label{
  font-size:10px;
  margin-left:-5px;
  }
  .item2{
  font-size:9px;
  margin-left:1px;
  }
  .item3{
    width: 15px;
    height: 15px;
  }
  .legendTitleAll{
    margin-top: -5px;
  }
  #sliderControls{
    margin-top: -10px;
  }
  h1{
  font-size:14px;
  }
  h2{
  font-size:11.5px;
  }
  .instruction p{
    font-size:10px;
  }
  #legendCol1{
  margin-left: -10px !important;
  }
  #legendCol2{
  margin-left: -20px !important;
 }

 .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
 .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
 .mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
 .mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
 .mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
 .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
 .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
 .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
 .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
     /* display:none !important; */
 }
 #logo{
   position: absolute;
   bottom:15px;
   right:0px;
 }
 #logo img{
   width:100px;
 }
 #start, #start2 {
    margin-left: 0px;
    font-size: 11px;
    }
  #end, #end2 {
    margin-left: 120px;
    font-size: 11px;
  }
}
@media screen and (max-width: 500px) {
  .mapboxgl-popup {
    transform:none !important;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
